

<% if (@user.nil?) %>

	<div>
		<span>log in..</span>
		<form action='<%= url_for :controller => 'auth', :action => 'user_login'  %>'>
			<span><input type='text' name='un'/></span>
			<span><input type='password' name='up'/></span>
			<input type='submit' name='LogIn' value='LogIn'/>
		</form>
	</div>

<% 
else
%>

	<div class='usp-user'><%= @user.name %></div>
	<a href='<%= url_for :controller => 'auth', :action => 'user_destroy' %>' class='ctrl-btn ctrl-btn-exit'>Выход</a>


<% end %>

<% if (!flash['user_logined_now'].nil?) %>
	<div class='usp-flash'><%= flash['user_logined_now'] %></div>
<% end %>