

<div class='ModuleBlock'>


	<% @services.each do |service|%>

		<div class='ModuleBlockLine'>
			<a class='ModuleLink' href="<%=url_for Conventions::ServiceData.service_url(service.code) %>"><%=service.code %></a>
			<div class='ModuleTitle'> - <%=service.title %></div>
			<div class='clear'></div>
		</div>


	<% end %>

	
	

</div>



