

<div class='ModuleBlock'>

	<div class='ModuleBlockLine'>
		<a class='ModuleLink' href="<%=url_for controller: 'shcoder', action: 'index' %>">Shcoder</a><div class='ModuleTitle'> - Модуль статей.</div>
		<div class='clear'></div>
	</div>
	

</div>



