

<div class='SearchBlock'>
	<h1>Результаты поиска</h1>
	<div class="SearchBlock_Request"><span class="SearchBlock_Request_Title">Запрос: </span><span class="SearchBlock_Request_Req"><%= @txt %></span></div>

	<div class="SearchBlock_Content">
		не реализовано еще
	</div>
	

</div>



