

<script type="text/javascript">
	$(function () {
		shcoder.Init({});
	});
</script>
	

<div class='ShcoderMain'>
	<h1 class='ShcTitle page_title'>Проект "Шкодер"</h1>
	<div class='ShcDesc'>
		Данный раздел предназначен для кратких и наиболее полезных статей-заметок. Скорее личного характера и не претендует на полноту справочника.
		В статьях даются как правило справочный материал в удобном и понятном виде, наиболее часто используемых возможностей.
		Цель проекта, наиболее быстро добраться до нужной информации и применить ее.
	</div>

	<h1 class='ShcTitle page_title'>Последние обновления</h1>
	<%= render "articles", articles: @lastArticles %>
	<%= render "shared/pager", pager: @pager %>

	<% if (ShcoderHelper.user_access(@user)) %>
		<div><%= render "controls/button", name: 'addArticleBtn', href: url_for(controller: 'shcoder', action: 'edit_article'), title: 'Добавить статью', style: 'normal'  %></div>
	<% end %>
	
	
</div>


