/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_directory .
 */


body {
  font: .8em Arial,Helvetica,sans-serif;
  position: relative;
  z-index: 0;
  margin: 0;
  padding: 0 0 1em;
  color: #000;
  background: #fff;}


h1{font-weight:inherit;font-size:inherit;padding:0;margin:0}



table {}
table td { padding: 4px; }

.clear { clear: both; }


/*.straight {margin: 0 auto;width:960px;}*/
.m-line {   white-space: nowrap;  max-width: 1040px;  margin: 0 auto;  padding: 0 20px 0 72px;  min-width: 820px!important;}
.page_title {  font: 28px/32px Arial,Helvetica,sans-serif;}


/*
 *	Header 
 */
.header { margin: 0; padding: 10px;  background-color: #3a5795; color: #fefefe; border-bottom: 1px solid #334D84;	}
.header-line { max-width: 1500px;  min-width: 820px!important;  padding: 2px 0 1px;  margin-bottom: 4px;}
.header .header_title { display: inline-block; width: 120px; height: 40px; margin: 0;  padding: 0;}
.header .logo_link { display: block;width: 100%; height: 100%; margin: 0;  padding: 0;background-image: url("logo.svg?v=1.2");  background-position: 0 0;  color: transparent;  outline: 0;  -webkit-background-size: 100% 100%;  background-size: 100% 100%;}

/*
 *	Menu 
 */
.menu { margin: 0; padding: 0px;  background-color: #5274BC; color: #fefefe; border-top: 1px solid #7791CA;border-bottom: 1px solid #666699;overflow:hidden; font: 16px/20px Arial,Helvetica,sans-serif;color:#FFF;}
.menu-line { max-width: 1500px;  min-width: 820px!important;   height: 36px; padding: 6px 0 1px;  margin-bottom: 0px; }
.menu .m-button { text-align: center; padding: 4px 2px; display: inline-block; color:#DDD;position: relative; top: -10px;}
.menu .m-path {display: inline-block; color:#FFF;position: relative; top: -10px;}
.menu .m-separ-empty {display: inline-block; width: 1px; height:30px;}
.menu .m-separ { display: inline-block; width: 10px; height:30px; border-right: 2px; color: #800;background-image: url("m-separ.svg?v=1.2");  background-position: 0 0;  color: transparent;  outline: 0;}

/*
 *	Content 
 */
.content { color: #000; position: relative; width: 100%; height: auto; min-height: 100%; min-height: 600px; margin: 0; padding: 0; background-color: #fff; min-width: 820px;  }
.content-line { white-space: nowrap;  max-width: 1040px;  margin: 0 auto;  padding: 0 20px 0 72px;  min-width: 820px!important;}



/*
 *	Footer 
 */
.footer { padding: 20px; background-color: #3a5795; font-size: 12px; text-align:left; border-top:1px solid #666; color: #ddd; }
.footer-line {  margin: 0 auto;  border: 0;  border-collapse: collapse;  width: 100%;  min-width: 65em;  max-width: 1500px;  font-size: 100%;  white-space: normal;}

.footer a { color: #bbb !important; background-color: transparent; }
.footer a:hover { color: #fff !important; background-color: transparent; }

