/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_directory .
 */


body {
  font: .8em Arial,Helvetica,sans-serif;
  position: relative;
  z-index: 0;
  margin: 0;
  padding: 0;
  color: #000;
  background: #fff;}


h1{ font-weight:inherit;font: 28px/32px Arial,Helvetica,sans-serif;padding:0;margin:10px 0 20px 0; color:#3a5795;}



table {}
table td { padding: 4px; }

.clear { clear: both; }


/*.straight {margin: 0 auto;width:960px;}*/
.m-line { /*max-width: 1040px; min-width: 820px!important;*/  margin: 0 auto;  padding: 0 20px 0 72px;  }
.page_title {  font: 28px/32px Arial,Helvetica,sans-serif;}


/*
 *	Global message 
 */
.gl-msg { padding: 10px; border:1px solid #666; color:#666; display: none; position: fixed; top: 10px; left: 10px; background-color: #fff;}
/* Megafon
-----------------------------------------------------------*/
.gl-msg { display:block; width:100%; height:40px; z-index:99999;}
.gl-msg .gl-msg-megafon { z-index:99999; display:none; margin:0 auto; width:500px; display:none; height:20px; font-weight:bold; padding:8px; text-align: center;    color:#289E00;    -webkit-border-radius: 3px;    -khtml-border-radius: 3px;    border-radius: 3px;    border:1px solid #218500;    box-shadow:#289E00 1px 1px 2px;    background-color:#EFFFEB;}
.gl-msg .gl-msg-megafon.Error { color:#9E2800; background-color:#FFF1EB; box-shadow:#9E2800 1px 1px 2px; border:1px solid #C23000;}
.gl-msg-slider { position:fixed; left:40px; top:20px; z-index:99999; margin:0 auto; width:500px; display:none; height:20px; font-weight:bold; padding:8px; text-align: center;    color:#289E00;    -webkit-border-radius: 3px;    -khtml-border-radius: 3px;    border-radius: 3px;    border:1px solid #218500;    box-shadow:#289E00 1px 1px 2px;    background-color:#EFFFEB;}
.gl-msg-slider.Error { z-index:99999; color:#9E2800; background-color:#FFF1EB; box-shadow:#9E2800 1px 1px 2px; border:1px solid #C23000;}



/*
 *	Controls 
 */
.ctrl-btn { vertical-align: top; text-decoration: none;  padding: 4px 12px 9px 12px;    color: #292f33; background-color: #f5f8fa;   background-image: linear-gradient(#fff,#f5f8fa); background-repeat: no-repeat;    border: 1px solid #e1e8ed;    border-radius: 4px;    color: #66757f;    cursor: pointer;    display: inline-block;    font-size: 14px;    font-weight: bold;    line-height: normal;    padding: 8px 16px;    position: relative;}
.ctrl-btn:hover {color: #292f33;    text-decoration: none;    background-color: #e1e8ed;    background-image: linear-gradient(#fff,#e1e8ed);   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";    border-color: #e1e8ed;}
.ctrl-btn.Disabled { cursor: default;color: #ddd; background-color: #fdfdfd;background-image:none;}
.ctrl-btn.Disabled:hover {color: #ddd; background-color: #fdfdfd; background-image:none;}

.ctrl-btn.ctrl-btn-normal {background-color: #f5f8fa;   background-image: linear-gradient(#fff,#f5f8fa);}
.ctrl-btn.ctrl-btn-normal:hover {}
.ctrl-btn.ctrl-btn-exit {}
.ctrl-btn.ctrl-btn-exit:hover {}
.ctrl-btn.ctrl-btn-enter {}
.ctrl-btn.ctrl-btn-enter:hover {}

.ctrl-inp {width: 150px;height: 28px;padding: 2px 4px;font-size: 14px;font-family: Arial,Helvetica,sans-serif;}
.ctrl-inp.ctrl-inp-norm {}




/*
 *	Header 
 */
.header { margin: 0; padding: 10px;  background-color: #3a5795; color: #fefefe; border-bottom: 1px solid #334D84;	}
.header-line { /*max-width: 1500px; min-width: 820px!important; */ padding: 2px 0 1px;  margin-bottom: 4px;}
.header .header_title { display: inline-block; width: 120px; height: 40px; margin: 0;  padding: 0;}
.header .logo_link { display: block;width: 100%; height: 100%; margin: 0;  padding: 0;background-image: image_url("logo.svg");  background-position: 0 0;  color: transparent;  outline: 0;  -webkit-background-size: 100% 100%;  background-size: 100% 100%;}

/*
 *	User panel 
 */
.user-panel {height: 36px;top: 15px;position: absolute;float: right;right: 10px;}
.user-panel .usp-flash {overflow: hidden;padding: 20px;border: 1px solid #006622;background-color: #E5FFEE;z-index: 1;top: 42px;position: absolute;float: left;box-shadow: 2px 2px 3px #666;color: #006622;width: 240px;right: 10px;text-align: center;}
.user-panel .usp-flash.err {border: 1px solid #662200;background-color: #FFEEE5;box-shadow: 2px 2px 3px #666;color: #662200;}
.user-panel .usp-user {display: inline-block;margin: 0px 10px 0px 0px;padding: 3px 0px 0px;font: 22px/26px Arial,Helvetica,sans-serif;}
.user-panel .ctrl-btn-exit {display: inline-block;}
.user-panel .ctrl-inp-norm {width: 150px;}


/*
 *	Menu 
 */
.menu { margin: 0; padding: 0px;  background-color: #5274BC; color: #fefefe; border-top: 1px solid #7791CA;border-bottom: 1px solid #666699;overflow:hidden; font: 16px/20px Arial,Helvetica,sans-serif;color:#FFF;}
.menu-line { /*max-width: 1500px; min-width: 820px!important;*/ height: 36px; padding: 6px 0 1px;  margin-bottom: 0px; }
.menu .m-button { text-align: center; padding: 4px 2px; display: inline-block; color:#DDD;position: relative; top: -10px;}
.menu .m-path {display: inline-block; color:#FFF;position: relative; top: -10px;}
.menu .m-separ-empty {display: inline-block; width: 1px; height:30px;}
.menu .m-separ { display: inline-block; width: 10px; height:30px; border-right: 2px; color: #800;background-image: url(asset_path("m-separ.svg"));  background-position: 0 0;  color: transparent;  outline: 0;}

/*
 *	Content 
 */
.content { /*min-width: 820px;*/color: #000; position: relative; width: 100%; height: auto; min-height: 100%; min-height: 600px; margin: 0; padding: 0; background-color: #fff; }
.content-line {  /*max-width: 1040px; min-width: 820px!important;*/  margin: 0 auto;  padding: 0 20px 0 72px;  }



/*
 *	Footer 
 */
.footer { padding: 20px; background-color: #3a5795; font-size: 12px; text-align:left; border-top:1px solid #666; color: #ddd; }
.footer-line { /*min-width: 65em;  max-width: 1500px;*/ margin: 0 auto;  border: 0;  border-collapse: collapse;   font-size: 100%;  white-space: normal;}

.footer a { color: #bbb !important; background-color: transparent; }
.footer a:hover { color: #fff !important; background-color: transparent; }

/*
 *	Pager 
 */
.Pager { margin: 10px; padding: 2px; overflow: hidden;}
.Pager .PagerPage { min-width: 20px; height: 20px; border: 1px solid #666; float:left; margin: 0 3px;}


/*
 *	Debug 
 */
.debug-block {}
.debug-block .debug-line { margin: 2px; border-bottom: 1px dotted #aaa; padding: 4px;}
.debug-block .debug-line p { margin: 0; padding: 0;}
.debug-block .debug-line .d-line-title { font-weight: bold;}
.debug-block .debug-line.d-line-1 { margin: 0px 0 10px 0; background-color: #EEE;}
.debug-block .debug-line.d-line-2 { margin: 0px 0 10px 15px; background-color: #DDD;}
.debug-block .debug-line.d-line-3 { margin: 0px 0 10px 30px; background-color: #CCC;}
.debug-block .debug-line.d-line-4 { margin: 0px 0 10px 45px; background-color: #BBB;}
.debug-block .debug-line.d-line-5 { margin: 0px 0 10px 60px; background-color: #AAA;}
.debug-flash { margin: 10px; padding: 10px; border: 1px dotted #999; }

