

.ShcoderMain { padding: 20px 0 20px 0;}
.ShcoderMain .ShcTitle {}
.ShcoderMain .ShcDesc {    text-align: justify;
    margin: 0 0 60px 0;
    font-size: 18px;
    color: #666;
    border: 1px solid #eee;
    padding: 20px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    box-shadow: #aaa 1px 1px 2px;}


.ShcoderMain .ShcMainArticleList {float: left; overflow: hidden;}
.ShcoderMain .ShcMainCategoryList { float: right; min-width: 300px; border-left: 1px dotted #666; min-height: 300px; padding: 10px 0 0 20px;}

/*
*	Article List
*/
.ShcList { margin: 10px 0; padding: 8px;}
.ShcList .ShcList_Block { overflow: hidden; margin: 8px 0 0 0; padding: 0 0 4px 0; }
.ShcList .ShcList_Block .ShcBlock_Date { margin: 2px 12px 0px 0px; font: 12px Arial,Helvetica,sans-serif; color:#aaa;}
.ShcList .ShcList_Block .ShcBlock_Link { display: inline-block; margin: 0; font: 16px/20px Arial,Helvetica,sans-serif; text-decoration: none; border-bottom: 1px solid transparent; color:#333; font-weight: bold;}
.ShcList .ShcList_Block .ShcBlock_Link:hover {border-bottom: 1px dotted #333;}
.ShcList .ShcList_Block .ShcBlock_Teaser { font-size: 16px; margin: 6px 0 0 92px;font-style: italic;}
.ShcList .ShcList_Block .ShcBlock_Category { cursor: pointer; color:#fff; text-shadow: #666 1px 1px 1px;text-decoration: none;background-color: #A3A3A3; padding: 1px 6px;border: 1px solid #A3A3A3;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.ShcList .ShcList_Block .ShcBlock_Category:hover {background-color: #AAA;}
/*
*	Category List
*/
.ShcCategoryList {}
.ShcCategoryList .ShcList_Block { overflow: hidden; margin: 4px 0 0 0; padding: 0 0 0 0; }
.ShcCategoryList .ShcList_Block .ShcBlock_Link { display: inline-block; cursor: pointer; color:#fff; text-shadow: #666 1px 1px 1px;text-decoration: none;background-color: #A3A3A3; padding: 1px 6px;border: 1px solid #A3A3A3;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.ShcCategoryList .ShcList_Block .ShcBlock_Link:hover {background-color: #AAA;}


/*
*	Article
*/
.ShcArticle {}
.ShcArticle .ShcArticle_Date {font: 16px/22px Arial,Helvetica,sans-serif; color:#aaa; float: left; overflow: hidden; margin: 0 10px 10px 0;}
.ShcArticle .ShcArticle_Date .ShcArticle_Date_Days {color:#5274BC;}
.ShcArticle .ShcArticle_Date .ShcArticle_Date_Year {background-color: #5274BC; text-shadow: #666 1px 1px 1px;text-align: center; line-height: 1em;color: #FFF; padding: 3px 0; -webkit-border-radius: 3px;-moz-border-radius: 3px; border-radius: 3px;}
.ShcArticle .ShcArticle_ModDate {float: right;display: inline-block;width: 10px; height: 10px; border: 2px dotted #666; background-color: #ddd;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.ShcArticle .ShcArticle_Title { display: block; margin: 0; padding: 10px 0 0 0;font: 24px/28px Arial,Helvetica,sans-serif;color: #011234;}
.ShcArticle .ShcArticle_Teaser { font-size: 16px; color:#666; font-style: italic; margin: 10px 0 0 0;}
.ShcArticle .ShcArticle_Text { font-size: 14px; margin: 20px 0 10px 0px; padding: 10px; }


.ShcoderMain .ShcArticle_Text { font-size: 14px; font-family: Arial,Helvetica,sans-serif; line-height: 1.5em;}
/*
*	BBCodes
*/
.ShcoderMain .bbc_h1 { font-weight: bold; font: 24px/28px Arial,Helvetica,sans-serif; color: #fff; margin: 40px 0 20px 0; background-color: #3a5795; padding: 10px; border: 1px solid #3a5795; display: inline-block;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;}
.ShcoderMain .bbc_h2 { font-weight: bold; font: 20px/24px Arial,Helvetica,sans-serif; color:#007399; margin: 10px 0 10px 0;}
.ShcoderMain .bbc_h3 { font-weight: bold; font: 16px/20px Arial,Helvetica,sans-serif; color:#007399; margin: 10px 0 10px 0;}
.ShcoderMain .bbc_tt { padding: 0 4px; background-color: #eee; color:#333;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;}
.ShcoderMain .bbc_ttr {background-color: #FDF7F8; padding: 2px;border: 1px solid #F5E0E4;border-radius: 4px;}
.ShcoderMain .bbc_codemark { padding: 15px;  border-left: 3px solid #aaa; color: #777; line-height: 1.3em;}
.ShcoderMain .bbc_codemark .bbc_tt {padding: 0; font-weight: bold; background-color: none;}
.ShcoderMain fieldset { border: none; margin: 0 !important; padding: 0 !important; }
.ShcoderMain blockquote { display: inline-block; padding: 20px 25px 20px 70px; background-color: #eaeaea; color:#666;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;margin: 10px 0 20px 30px;background-image: image_url("editors/left_quote.png");background-repeat: no-repeat;   background-position: -12px -4px;}
.ShcoderMain blockquote .bbc_tt {background-color:#fafafa;}
.ShcoderMain .bbc_minimark { padding: 0;font-weight: bold;}
.ShcoderMain .bbc_minimark .bbc_minimark_block { width: 10px; height: 16px; background-color: #c14040; display: inline-block; margin: 0 10px 0 0;}
.ShcoderMain .bbc_minimark_sm { padding: 0;font-weight: bold;}
.ShcoderMain .bbc_minimark_sm .bbc_minimark_block { width: 10px; height: 8px; background-color: #5274BC; display: inline-block; margin: 0 10px 0 0;}
.ShcoderMain .bbc_bg1 { }
.ShcoderMain .bbc_bg1 .bbc_bg_text {background-color: #D9FFB3; color:#194D19;}
.ShcoderMain .bbc_bg2 { }
.ShcoderMain .bbc_bg2 .bbc_bg_text {background-color: #FFFFCC; color:#111;}


/*
*	Edit
*/
.ShcEdit {}
.ShcEdit .ShcEdit_Reader { min-height: 20px;}
/* edit inputs */
.ShcEdit .ShcEdit_Line { margin: 20px 0 5px 0; padding: 4px;width: 90%;}
.ShcEdit .ShcEdit_Line .ShcEdit_Line_Title { font-weight: bold; margin: 0 0 0 0;  font: 18px/20px Arial,Helvetica,sans-serif;}
.ShcEdit .ShcEdit_Line .ShcEdit_Line_ErrorWrapper { display: block; min-height: 12px;}
.ShcEdit .ShcEdit_Line .ShcEdit_Line_ErrorWrapper .ShcEdit_Line_Error { color:#CC3300; font-size: 10px; display: none;}
.ShcEdit .ShcEdit_Line .ShcEdit_Line_Body {}
.ShcEdit .ShcEdit_Line .ShcEdit_Line_Body input { width: 100%; border:1px solid #aaa; padding: 8px;background-color: #fafafa;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;}
.ShcEdit .ShcEdit_Line .ShcEdit_Line_Body input:focus {outline: 0;}
.ShcEdit .ShcEdit_Line .ShcEdit_Line_Body select { width: 100%;border:1px solid #aaa;padding: 8px;background-color: #fafafa;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;}
.ShcEdit .ShcEdit_Line .ShcEdit_Line_Body select:focus {outline: 0;}
.ShcEdit .ShcEdit_Line .ShcEdit_Line_Body textarea { width: 100%;border:1px solid #aaa;padding: 8px;background-color: #fafafa; min-height: 300px;resize: vertical; -webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;}
.ShcEdit .ShcEdit_Line .ShcEdit_Line_Body textarea:focus {outline: 0;}
/* edit inputs with error */
.ShcEdit .ShcEdit_Line.Error {}
.ShcEdit .ShcEdit_Line.Error .ShcEdit_Line_ErrorWrapper {}
.ShcEdit .ShcEdit_Line.Error .ShcEdit_Line_ErrorWrapper .ShcEdit_Line_Error { display: block;}
.ShcEdit .ShcEdit_Line.Error .ShcEdit_Line_Body input { border:1px solid #CC3300; background-color: #FFECE5;}
.ShcEdit .ShcEdit_Line.Error .ShcEdit_Line_Body select { border:1px solid #CC3300;background-color: #FFECE5;}
.ShcEdit .ShcEdit_Line.Error .ShcEdit_Line_Body textarea { border:1px solid #CC3300;background-color: #FFECE5;}