// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.jsgo_btn { padding: 4px; margin:4px 0; cursor: pointer; background-color: #FFF; width: 150px; text-align: center; border: 1px solid #666; }
.jsgo_btn:hover { background-color: #DDD; }


.ModuleLink { float: left;text-decoration: none; border-bottom: 2px dotted #229; color: #229; font: 28px/32px Arial,Helvetica,sans-serif;}
.ModuleLink:hover {border-bottom: 2px dotted #779; color: #779;}
.ModuleTitle {  float: left;  margin: 4px 0 0 10px;  font: 22px/26px Arial,Helvetica,sans-serif;}

.ModuleBlock { margin: 10px 0; padding: 20px; overflow: hidden;}
.ModuleBlock .ModuleBlockLine { margin: 10px 0;}

/*
*	Search
*/	
.SearchBlock {}
.SearchBlock .SearchBlock_Request { font-size: 16px;}
.SearchBlock .SearchBlock_Request .SearchBlock_Request_Title { }
.SearchBlock .SearchBlock_Request .SearchBlock_Request_Req {font-weight: bold;}
.SearchBlock .SearchBlock_Content { margin: 20px 0 20px 0; padding: 10px;}
.SearchBlock .SearchBlock_Content .SearchBlock_Block { margin: 10px 0 20px 0;}
.SearchBlock .SearchBlock_Content .SearchBlock_Block .SearchBlock_Content_Title { font-weight: bold;    font: 20px/26px Arial,Helvetica,sans-serif;  margin: 0 0 5px 0;}
.SearchBlock .SearchBlock_Content .SearchBlock_Block .SearchBlock_Content_Founds {}
.SearchBlock .SearchBlock_Content .SearchBlock_Block .SearchBlock_Content_Founds .SearchBlock_Item {margin: 2px 0 5px 0;font-size: 14px;}

